<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<br>
<br>
<h3>交易情况图表</h3>
<span style="color: green; ">业务日期:</span>
<input type="text" id="chooseDate" value="" onchange="refreshChart()">
<p>
    <button class="formerDay" onclick="minusDay()">上一日</button>
    <button class="latterDay" onclick="addDay()">下一日</button>
</p>

<div id="container" style="height: 100%"></div>
<script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
<script src="{{ url_for('static', filename='echarts-gl.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

<script type="text/javascript">

    var logDataMap;
    var currentDateKey;

    function getFormatDate(arg) {

        if (arg == undefined || arg == '') {
            return '';
        }

        var re = arg + '';
        if (re.length < 2) {
            re = '0' + re;
        }

        return re;
    }

    $(function () {
        var now = new Date('2018-01-01');
        var year = now.getFullYear();    //年
        var month = now.getMonth() + 1;   //月
        var day = now.getDate();
        document.getElementById("chooseDate").value = year + '-' + getFormatDate(month) + '-' + getFormatDate(day);
        refreshChart();

        $.get('/download/log', function (rawData) {
            logDataMap = eval("(" + rawData + ")");
        });

    });

    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    option = null;
    var upColor = '#00da3c';
    var downColor = '#ec0000';

    function addDay() {
        var dateParam = document.getElementById("chooseDate").value;
        var date = new Date(dateParam);
        date.setDate(date.getDate() + 1);
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var newDate = date.getFullYear() + '-' + getFormatDate(month) + '-' + getFormatDate(day);
        document.getElementById("chooseDate").value = newDate;
        refreshChart();
    }

    function minusDay() {
        var dateParam = document.getElementById("chooseDate").value;
        var date = new Date(dateParam);
        date.setDate(date.getDate() - 1);
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var newDate = date.getFullYear() + '-' + getFormatDate(month) + '-' + getFormatDate(day);
        document.getElementById("chooseDate").value = newDate;
        refreshChart();
    }

    function refreshChart() {

        var dateVar = new Date(document.getElementById("chooseDate").value);

        var month = dateVar.getMonth() + 1;

        currentDateKey = getFormatDate(month) + '-' + getFormatDate(dateVar.getDate());

        $.get('/download/' + pickFileName(month, getFormatDate(dateVar.getDate())), function (rawData) {

            var data = splitData(rawData, currentDateKey);
            option = {
                backgroundColor: '#fff',
                animation: false,
                legend: {
                    bottom: 10,
                    left: 'center',
                    data: ['Dow-Jones index', 'MA5', 'MA10', 'MA20', 'MA30']
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    },
                    backgroundColor: 'rgba(245, 245, 245, 0.8)',
                    borderWidth: 1,
                    borderColor: '#ccc',
                    padding: 10,
                    textStyle: {
                        color: '#000'
                    },

                    formatter: function (params) {
                        var result = '';
                        var value = params[0].value;

                        if ((value.constructor) === Array) {
                            for (var item in value) {
                                if (item < 2) { // not need desc key
                                    continue;
                                }
                                result = result + value[item] + '<br />';
                            }
                        } else {
                            result = result + '交易金额: ' + value;
                        }

                        var tickTime = 'Tick: ' + params[0].name + '<br />';

                        return result + '<br />-----------<br />' + tickTime;
                    }
                },
                axisPointer: {
                    link: {xAxisIndex: 'all'},
                    label: {
                        backgroundColor: '#777'
                    }
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: false
                        },
                        brush: {
                            type: ['lineX', 'clear']
                        }
                    }
                },
                brush: {
                    xAxisIndex: 'all',
                    brushLink: 'all',
                    outOfBrush: {
                        colorAlpha: 0.1
                    }
                },
                visualMap: {
                    show: false,
                    seriesIndex: 5,
                    dimension: 2,
                    pieces: [{
                        value: 1,
                        color: downColor
                    }, {
                        value: -1,
                        color: upColor
                    }]
                },
                grid: [
                    {
                        left: '10%',
                        right: '8%',
                        height: '50%'
                    },
                    {
                        left: '10%',
                        right: '8%',
                        top: '63%',
                        height: '16%'
                    }
                ],
                xAxis: [
                    {
                        type: 'category',
                        data: data.categoryData,
                        scale: true,
                        boundaryGap: false,
                        axisLine: {onZero: false},
                        splitLine: {show: false},
                        splitNumber: 20,
                        min: 'dataMin',
                        max: 'dataMax',
                        axisPointer: {
                            z: 100
                        }
                    },
                    {
                        type: 'category',
                        gridIndex: 1,
                        data: data.categoryData,
                        scale: true,
                        boundaryGap: false,
                        axisLine: {onZero: false},
                        axisTick: {show: false},
                        splitLine: {show: false},
                        axisLabel: {show: false},
                        splitNumber: 20,
                        min: 'dataMin',
                        max: 'dataMax'
                    }
                ],
                yAxis: [
                    {
                        scale: true,
                        splitArea: {
                            show: true
                        }
                    },
                    {
                        scale: true,
                        gridIndex: 1,
                        splitNumber: 2,
                        axisLabel: {show: false},
                        axisLine: {show: false},
                        axisTick: {show: false},
                        splitLine: {show: false}
                    }
                ],
                dataZoom: [
                    {
                        type: 'inside',
                        xAxisIndex: [0, 1],
                        start: 98,
                        end: 100
                    },
                    {
                        show: true,
                        xAxisIndex: [0, 1],
                        type: 'slider',
                        top: '85%',
                        start: 98,
                        end: 100
                    }
                ],
                series: [
                    {
                        name: '交易价格',
                        type: 'line',
                        data: data.values,

                        smooth: false,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        },

                        markPoint: {
                            data: []

                        }
                    }
                ]
            };

            markData(option);
            myChart.setOption(option);
        });

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }

    }

    function markData(option) {

        var currentLog = logDataMap[currentDateKey];

        for (var key in currentLog) {
            var attr = currentLog[key];
            if (attr[2] == '卖开') {
                addMarkPointData(option, attr[1], attr[3].split(':')[1], 'rgb(0,0,255)');
            } else if (attr[2] == '买平今' || attr[2] == '卖平今') {
                addMarkPointData(option, attr[1], attr[3].split(':')[1], 'rgb(0,255,0)');
            } else if (attr[2] == '挂单') {
                addMarkPointData(option, attr[1], attr[3], 'rgb(255,255,0)');
            } else { // 买开
                addMarkPointData(option, attr[1], attr[3].split(':')[1], 'rgb(255,0,0)');
            }
        }
    }

    function addMarkPointData(option, coordKey, coordValue, color) {
        option.series[0].markPoint.data.push({
            silent: false,
            symbol: 'triangle',
            symbolOffset: [0, -10],
            symbolSize: 10,
            name: 'XX标点',
            value: coordValue,
            coord: [coordKey, coordValue],
            label: {
                formatter: function (params) {
                    var result = '';
                    var value = params.value;
                    if (params.value.indexOf(',') >= 0) {
                        var value = params.value.split(',');
                    value.forEach(function (value, index, array) {
                        result = result + value + '\n';
                    });
                    } else {
                        result = value;
                    }

                    return result;
                },
                color: color,
                align: 'left',
                show: false,
                backgroundColor: 'rgba(245, 245, 245, 0.8)'
            },
            itemStyle: {    //图形样式
                normal: {color: color}
            }
        });
    }

    function pickFileName(month, day) {
        return 'rb1805(' + month + '.' + day + ').csv'
    }

    function splitData(rawData, date) {
        var allRows = rawData.split(/\n/);
        var categoryData = [];
        var values = [];
        var dateData = [];
        for (var i = 0; i < allRows.length; i++) {
            var day = allRows[i].split(',')[3];
            var ms = allRows[i].split(',')[4];
            categoryData.push(day + '.' + ms / 100);
            dateData.push(date);
            var targetValue = allRows[i].split(',')[5];

            var target = logDataMap[date][day + '.' + ms / 100];
            if (target != null) {
                targetValue = target;
            }

            values.push(targetValue);
        }

        return {
            categoryData: categoryData,
            values: values,
            dateData: dateData
        };
    }

</script>

</body>
</html>